@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    color: rgb(8, 8, 10);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'roboto' sans-serif;
    font-size: 1.5rem;
    color: rgb(9, 7, 14);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

/* top banner */
.topbanner {
    background-color: rgb(206, 230, 230);
    background-image: url(assets/asset\ 30.png);
    background-size: 300px;

}

.bannertext {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;

}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: auto;

}

/* company logo and nav bar */
nav div a img {
    width: 150px;
    display: inline-block;

}

nav .containernav {
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: auto;

}

/* .nav{
    display: inline-block;
    position: absolute;
    font-size: 15px;
} */
.nav ul {
    display: flex;
    justify-content: end;
    gap: 40px;
    margin: 10px auto;
}

nav ul li {
    list-style: none;
    transition: 0.2s ease-out;

}

nav ul li a {
    padding: 1px 3px;
}

.nav {
    flex-basis: 730px;

}



ul li a:hover {
    color: aqua;

}

ul li .signin {
    /* border: 1px solid black; */
    border-radius: 6px;
    padding: 12px 24px;
    box-shadow: 0 0 2px blue;
    font-weight: 500;
}

ul li .signup {
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgb(0, 0, 5);
    padding: 12px 24px;
    box-shadow: 0 0 2px rgb(1, 1, 19);
    font-weight: 500;
}

.headerleft h1 {
    font-size: 40px;
}

header .container .headerleft {
    width: 500px;
    display: inline-block;
    margin: 142px auto;

}

header .container .headerleft p {
    opacity: 0.5;
    font-size: 20px;
}

header .container .headerleft a {
    font-size: medium;
    border: 2px solid black;
    background-color: rgb(2, 2, 58);
    border-radius: 11px;
    transition: 0.3s;
}

header .container .headerleft a:hover {
    background-color: blue;
    color: beige;

}

header .container .headerright {
    float: right;
    margin: 61px auto;
}


header .container .headerright img {
    width: 600px;

}
h1.players{
    font-size: 122px;
    font-weight: bold;
    width: 455px;
    float: left;
}
/* company all logo google,amazon,godady */
.para{
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 62px 119px;
    font-style: inherit;
    color: rgb(10, 81, 109);
    opacity: 1;
}
ul li{
    list-style: none;
    
}
ul{
    display: flex;
   /*  width: 455px; */
   margin: -45px 14px;

}
li img{
    width: 150px;
    height: 80px;
    padding: 14px 15px;
    margin: 1px 10px;
}